
* {		
	box-sizing:border-box;
	padding:0;
	margin:0;
}
#page{
	width: 100%;
	height:100%;
	background-image:url("noircube.jpg");
    background-size:100%;
    background-attachment:fixed;
}
body {
	display: block;
	font-family: 'Kite One';
	font-size: 22px;
	text-align: center;
	letter-spacing: 1px;
	height: 2200px;
}

/*bouton*/
#head{
	position: fixed;
	margin: auto;
	width: 100%;
	opacity: 90%;
	background: black;

}

.btn {
	font-size: 33px;
	padding: 40px;
	display: inline-block;

}
.btn a{
	font-size: 30px;
	color: white;
	background-color: black;
	text-decoration: none;
	border-radius: 5px;
	padding: 4px;
}
/*bouton animation*/
.btn:hover a{
	color: black;
	background-color:white;
	text-decoration: none;
	transition: 0.3s all;
}
#bouton{
	width: 100%;
	height: 500px;
	padding-top: 250px;
	text-decoration: none;
}
.bouton1  	{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 2em;
	margin: auto;
	border-radius: 5px;
	padding: 10px;
}
.bouton1 a{
	color: white;
	background-color: black;
	text-decoration: none;
	border-radius: 5px;
	padding: 4px;
}

.bouton1 a:hover {
	color: black;
	background-color: white; 
	text-decoration: none;
	transition: 0.3s all;
}

#film{
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 500px;
	background: black;
	margin-top: 20px;
	border-radius: 10px;

}
#film a img {
	margin: 15px;
	float: left;
	width: 23%;
	height: 400px;
	border: gray 3px solid;

}
#jeux{
	clear: both;
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 500px;
	background: black;
	margin-top: 20px;
	border-radius: 10px;

}
#jeux a img{
	margin: 10px;
	float: left;
	width: 32%;
	height: 400px;
	border: gray 3px solid;
}
#galerie{
	clear: both;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 90%;
	border-radius: 10px;
	height: 500px;
	background: black;
}
#galerie a img {
	margin: 10px;
	float: left;
	width: 32%;
	height: 400px;
	border: gray 3px solid;

}

footer {

}